/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

html{
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

p{
  font-size: 1.6rem;
}

img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

section{
  padding: 5rem 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #609E5A;
}

::-webkit-scrollbar-thumb:hover {
  background: #2F6241;
}

::-moz-selection { /* Code for Firefox */
  color: #000;
  background: #C4F5D8;
}

::selection {
  color: #000;
  background: #C4F5D8;
}

.container{
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}












/* HEADER */

.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: #155842;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: color .7s;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.navbar{
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all .3s ease;
  z-index: 999;
}
.navbar.sticky{
  padding: 0;
  background: #155842;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 98rem;
  padding: 5px 80px;
  margin: auto;
}

.navbar .logo a{
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}
.navbar .logo a span{
  color:#155842;
  transition: all .3s ease;
}
.navbar.sticky .logo a span{
  color: #fff
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 50px;
  transition: color 0.3s ease;
  display: inline-block;
  background-image: linear-gradient(120deg,transparent 0%, transparent 50%, #FFF 50%);
  background-size: 232%;
  transition: all 0.4s;
  padding: 7px;
}
.navbar .menu li a:hover{
  color:#155842;
  transform: translateX(1.4rem);
  background-position: 100%;
  text-decoration: none;
  
}
.navbar.sticky .menu li a:hover{
  color: #155842;
}

/* menu btn styling */
.menu-toggler{
  position: absolute;
  top: 33px;
  right: 80px;
  width: 4rem;
  height: 3rem;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: all 605ms ease-out;
}
.menu-toggler.open{
  transform: rotate(-45deg);
}
.bar{
  /* background: linear-gradient(to right,#00a3ef, #ffffff); */
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: .8rem;
  transition: all 650ms ease;
}
.bar.half{
  width: 50%;
}
.bar.start{
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start{
  transform: rotate(-450deg) translateX(.8rem);
}
.bar.end{
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end{
  transform: rotate(-450deg) translateX(-.8rem);
}
.top-nav.open{
  top: 0;
  border-radius: initial;
}
.navbar.sticky .bar{
  background: #fff;
}
.navbar.sticky .menu-toggler{
  top: 18.5px;
}






















/* MOST AT RISK */

.risk-section{

  width: 100%;
  height: auto;
  background: linear-gradient(135deg, #0e3f06ec 0%, #033122ce 100%), url("/img/Adsız\ tasarım-1.png") center no-repeat fixed;
  background-size: cover;
  position: relative;
  
}

.risk-items{
  padding: 5rem;
}

.animals-risk-item{
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  outline-offset: 1rem;
  transition: all ease .4s !important;
  margin: 5rem 0;
}

.animals-risk-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #54814bd7 0%, #23775bcb  100%);
  z-index: -1;
}


.r-img-1{
  background: url("/img/mountain-gorillas-2.jpg") center no-repeat;
  background-size: cover;
}

.r-img-2{
  background: url("/img/tapanuil.jpg") center;
  background-size: cover;
}

.r-img-3{
  background: url("/img/sumatran-elephant.jpg") center;
  background-size: cover;
}

.r-img-4{
  background: url("/img/sumatran-rhinoceros.jpg") center;
  background-size: cover;
}

.r-img-5{
  background: url("/img/sumatran-tiger.jpg") center;
  background-size: cover;
}


.animals-risk-item h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  margin: 5px 0;
  text-align: center;
  letter-spacing: 10px;
}



.animals-risk-item:hover{
  transform: scale(1.07) !important;
  z-index: 20;
  box-shadow: 0 2.5rem 4rem rgb(0 0 0 / 50%);
  color: transparent;
}

.animals-risk-item span:hover{
  color: transparent;
}

.animals-risk-item:hover::before{
  background-image: none;
  background: none;
}

.animals-risk-item .s-info{
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

.animals-risk-item p{
  font-size: 1.6rem;
}

.animals-risk-item .s-accent{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}












/* FOOTER */

footer{
  background-color: #155842;
  text-align: center;
  color: rgba(0,0,0,0.7);
}

.footer-cont{
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.footer-cont a{
  color: #c4f5d8;
  margin-left: 2rem;
  font-size: 1.3rem;
}

.bground{
  background-color: #155842;
}

.bground p,
.bground p a{
  color: #fff;
  font-size: 1.4rem !important;
  padding-bottom: .4em;
}














/* MEDIAS */

/*--------------------- MAX --------------------*/


@media (max-width: 410px){
  .max-width{
    padding: 0 30px;
  }
  .menu-toggler{
    right: 30px;
  }
}

@media (max-width: 620px){
  .risk-section{
    background: linear-gradient(135deg, #0e3f06ec 0%, #033122ce 100%), url("/img/Adsız\ tasarım.png") center no-repeat fixed;
    background-size: cover;
  }
  .r-img-1{
    background: url("/img/mountain-gorilla.jpg") center no-repeat;
    background-size: cover;
  }
  
  .r-img-2{
    background: url("/img/tapanuil-orangutan-sm.jpg") center;
    background-size: cover;
  }
  
  .r-img-3{
    background: url("/img/sumatran-ele-sm.jpg") center;
    background-size: cover;
  }
  
  .r-img-4{
    background: url("/img/sumatran-rh-sm.jpg") center;
    background-size: cover;
  }
  
  .r-img-5{
    background: url("/img/sumatran-tg-sm.jpg") center;
    background-size: cover;
  }

}

@media (max-width: 800px){
  .animals-risk-item h1{
    font-size: 2.9rem;
  }
  .animals-risk-item .s-info{
    font-size: 1.7rem;
  }
  .animals-risk-item p{
    font-size: 1.5rem;
  } 
  .animals-risk-item .s-accent{
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 947px){
  .menu-toggler{
    display: flex;
    right: 50px;
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #155842;
    text-align: center;
    padding-top: 20rem;
    transition: all 650ms ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu.active li.active{
    left: -100%;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar .active li a:hover{
    color: #155842;
  }
  .max-width{
    max-width: 800px;
  }
}
/*-------------------- MIN --------------------*/

@media screen and (min-width: 320px){
  .navbar .max-width{
    padding: 5px 30px;
    margin: 0;
  }
  .risk-items{
    padding: 1rem;
  }
  .animals-risk-item{
    font-size: 3rem;
    height: 70rem;
    padding: 3rem;
  }
  .animals-risk-item:hover{
    outline: 1rem solid #c4f5d8;
  }
}

@media screen and (min-width: 470px){
  .animals-risk-item{
    height: 50rem;
  }
}

@media screen and (min-width: 670px){
  .animals-risk-item{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 700px){
  .navbar .max-width{
    padding: 5px 80px;
  }
}

@media screen and (min-width: 800px){
  .animals-risk-item{
    height: 45rem;
  }
}

@media screen and (min-width: 950px){
  .navbar .max-width{
    margin: auto;
  }
}

@media screen and (min-width: 1200px){
  .animals-risk-item h1{
    font-size: 3.2rem;
  }
}